<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags----- -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/apps.css">
    <link rel="stylesheet" href="/static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/w3.css">

    <title> {% block title %}Corona Case Counter {% endblock %}</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark w3-teal container-fluid " style="width: 100%">
    <div class="container">
        <a class="navbar-brand w3-xlarge" href="/" style="font-family: 'PT Serif', serif"><b>Corona Case Counter</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
             <ul class="navbar-nav ml-auto">
                <li class="nav-link">
                  <span><a href="https://www.worldometers.info/coronavirus/" target="_blank" style="text-decoration: None">Worldometer Data</a></span>
                </li>
             </ul>
         <!--       <li class="nav-item">
                  <a class="nav-link" href="#" target="" rel="noopener">Tutorial</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" target="" rel="noopener">GitHub</a>
                </li>
              </ul>
            <span><a href="https://www.worldometers.info/coronavirus/" target="_blank" style="text-decoration: None">Worldometer Data</a></span>
       -->
        </div>

    </div>
</nav>
<div class="container-fluid w3-orange w3-center">
    <div class="row" style="width: 100%">
        <div class="col-xl-12">
            <span><strong>Helpline Number :</strong>+91-11-23978046</span>
            <span><strong>Toll Free :</strong> 1075</span>
            <span><strong>Helpline Email ID :</strong> <a href="mailto:ncov2019@gov.in">ncov2019@gov.in </a></span>
            <div><strong>Download Arogya Setu <img src = "/static/img/arogya.png"> App  <a href = "http://bit.ly/AarogyaSetu_PS" target = "_BLANK" title = "For Android"><img src = "/static/img/android.png"></strong></a><strong><a href = "https://apple.co/2X1KMzO" target = "_BLANK" title = "For iPhone"><img src = "/static/img/apple.png"></strong> </a>
            </div>
        </div>
    </div>
</div>
{% block main %}{% endblock %}

<hr class="w3-green">
    <div class="footer-basic w3-teal container-fluid">
    <footer style="bottom: 0px;" class="align-bottom">
        <div class="social">
          <!--<a href="https://www.facebook.com/vipinyadavxyz" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>-->
          <a href="https://www.instagram.com/_vipin__yadav__/" target="_blank" title="Instagram"><i class="fa fa-instagram" target="_blank"></i></a>
          <a href="https://www.github.com/vipin0" target="_blank" title="Github"><i class="icon ion-social-github"></i></a>
          <a href="https://www.twitter.com/vipin6673" target="_blank" title="Twitter"><i class="icon ion-social-twitter"></i></a>
          <a href="https://www.linkedin.com/in/vipin6673" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item js-scroll-trigger w3-medium" role="presentation"><a href="/">Home</a></li>
            <!--<li class="list-inline-item js-scroll-trigger w3-medium" role="presentation"><a href="#services">Services</a></li>-->
            <!-- <li class="list-inline-item js-scroll-trigger" role="presentation"><a href="#about">About</a></li> -->
            <li class="list-inline-item js-scroll-trigger w3-medium" role="presentation"><a href="#terms">Terms</a></li>
            <li class="list-inline-item js-scroll-trigger w3-medium" role="presentation"><a href="#privacy">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Developed By: <a href="https://www.linkedin.com/in/vipin6673" target="_blank" title="Twitter" style="text-decoration: none;"><strong>VIPIN</strong></a></p>
        <p class="copyright">Corona Case Counter © 2020</p>
    </footer>
</div>

<!--
<script src="/static/js/temp.js"></script>
<script src="/static/js/app123.js"></script> -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/static/js/jquery-3.4.1.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script> -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script> -->
<script src="/static/js/script.min.js"></script>
</body>
</html>
