<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/apps.css">
    <link rel="stylesheet" href="/static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,700|Fira+Code|PT+Serif|ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

    <title>Corona Case Counter</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark w3-teal">
    <div class="container-fluid">
        <a class="navbar-brand w3-xlarge" href="" style="font-family: 'PT Serif', serif"><b>Corona Case Counter</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
             <ul class="navbar-nav ml-auto">
                <li class="nav-link">
                  <span><a href="https://www.worldometers.info/coronavirus/" target="_blank" style="text-decoration: None">Worldometer Data</a></span>
                </li>
             </ul>
         <!--       <li class="nav-item">
                  <a class="nav-link" href="#" target="" rel="noopener">Tutorial</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" target="" rel="noopener">GitHub</a>
                </li>
              </ul>
            <span><a href="https://www.worldometers.info/coronavirus/" target="_blank" style="text-decoration: None">Worldometer Data</a></span>
       -->
        </div>

    </div>
</nav>
<br><br>
<div class="container">
    <table class="table table-striped table-bordered mb-4">
        <thead class="w3-blue">
        <th>S. No.</th>
        <th>Name of State / UT</th>
        <th>Total Confirmed cases (Including 111 foreign Nationals)</th>
        <th>Cured/Discharged/ Migrated</th>
        <th>Deaths</th>
        </thead>
        <tbody id="data" class="text-center">

        </tbody>

    </table>
    <p>Last Fetched : <span id="date"></span></p>
    <p>* The data is being fetched from <a href="https://www.mohfw.gov.in/" target="_blank" style="text-decoration: None">Ministry of Health and Family Welfare's Website.</a></p>
</div>
<hr class="w3-green">
    <div class="footer-basic w3-teal">
    <footer style="bottom: 0px;" class="align-bottom">
        <div class="social">
          <a href="https://www.facebook.com/vipinyadavxyz" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/vipin.y_/" target="_blank" title="Instagram"><i class="fa fa-instagram" target="_blank"></i></a>
          <a href="https://www.github.com/vipin-y" target="_blank" title="Github"><i class="icon ion-social-github"></i></a>
          <a href="https://www.twitter.com/vipin6673" target="_blank" title="Twitter"><i class="icon ion-social-twitter"></i></a>
          <a href="https://www.linkedin.com/in/vipin6673" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item js-scroll-trigger w3-medium" role="presentation"><a href="/">Home</a></li>
            <li class="list-inline-item js-scroll-trigger w3-medium" role="presentation"><a href="#terms">Terms</a></li>
            <li class="list-inline-item js-scroll-trigger w3-medium" role="presentation"><a href="#privacy">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Developed By: <a href="https://www.linkedin.com/in/vipin6673" target="_blank" style="text-decoration: none;"><strong>VIPIN</strong></a></p>
        <p class="copyright">Corona Case Counter © 2020</p>
    </footer>
</div>
<script src="/static/js/app.js"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<script src="/static/js/script.min.js"></script>
</body>
</html>