{% extends "base.html" %}
{% block title %} Corona Case Counter | India {% endblock %}
{% block main %}
    <div class="container">
        <div class="text-center">
            <h2 id="statename" class="text-center highlight_text">COVID-19 INDIA</h2>
            <p style="font-size: 10px">Last Updated : {{ timestamp }}</p>
        </div>
    <p>* Click on the State Name to see District wise cases.</p>
    <table class="table table-striped table-bordered table-responsive-sm mb-4">
        <thead class="w3-blue">
        <th>S. No.</th>
        <th>Name of State / UT</th>
        <th>Total Confirmed cases</th>
        <th>Active </th>
        <th>Cured/Discharged/ Migrated</th>
        <th>Deaths</th>
        <th>Last Reported On</th>
        </thead>
        <tbody id="data" class="text-center" style="table-layout: fixed; width: 180px;">
            {% set count = namespace(value=1) %}
            {% for state in data %}
                {% if count.value == 1 %}
                    <tr class="w3-red">
                    <td>{{ count.value }}</td>
                    <td>{{ state["state"] }}</td>
                    <td>{{ state["confirmed"] }}</td>
                    <td>{{ state["active"] }}</td>
                    <td>{{ state["recovered"] }}</td>
                    <td>{{ state["deaths"] }}</td>
                    <td>-</td>
                </tr>
                {% else %}
                    <tr>
                    <td>{{ count.value }}</td>
                    <td><a href="/{{ state["state"] }}">{{ state["state"] }}</a></td>
                    <td>{{ state["confirmed"] }}</td>
                    <td>{{ state["active"] }}</td>
                    <td>{{ state["recovered"] }}</td>
                    <td>{{ state["deaths"] }}</td>
                    <td>{{ state["lastupdatedtime"].split()[0] }}</td>
                </tr>
                {% endif %}
                {% set count.value = count.value + 1 %}
            {% endfor %}
        </tbody>
        <tfoot id="totaldata" class="text-center w3-red">

        </tfoot>
    </table>
    <p>Last Fetched : <span >{{ timestamp }}</span></p>
    <p>* The data is being fetched from <a href="https://www.covid19india.org/" target="_blank" style="text-decoration: None">covid19india's Website.</a></p>
</div>

{% endblock %}